<ol class="breadcrumb hidden-sm-down">
  <li>
    <a href="/" class="router-link-active">{{ 'home_page'|t }}</a>
  </li>
  <li>
    <router-link :to="{ name: 'account-page'}">{{ 'my_account'|t }}</router-link>
  </li>
  <li>
    <span>{{ currentName }}</span>
  </li>
</ol>
