<div class="star-rating" v-if="stars">
  <i v-for="(item, index) in stars" class="fa fa-star star" aria-hidden="true"></i>
  <i v-if="halfStars" class="fa fa-star-half-o star" aria-hidden="true"></i>
  <i v-for="(item, index) in emptyStars" class="fa fa-star-o star" aria-hidden="true"></i>
</div>
