<div v-if="auth">
  <app-header></app-header>
  <div class="container app-body">
    <div class="row">
      <div class="col-sm-12">
        <app-breadcrumbs :current="breadcrumbs"></app-breadcrumbs>
        <h1 class="title bb-blue">{{ 'edit_profile'|t }}</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-8">
          <api-status-alerts></api-status-alerts>
          <user-profile-form :user="user"></user-profile-form>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
