<footer class="footer">
  <div class="container">
    <div class="row" v-if="footer_menu">
      <div v-for="(item, index) in footer_menu" v-html="item.widget_content" :key="index" :class="calcWidgetClass(index)" class="col">
        <div v-if="item.has_social_media" id="text_icl-18" class="widget widget_text_icl">
          <a v-for="(social, key) in item.social_media" :href="social.link" v-html="social.icon" :title="key" target="_blank">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
