
.dropdown-toggle:after {
   display: none;
}

#lang-switch {
  li {
    display: block;
  }
}

#lang-switch .dropdown-menu {
  padding: 2px 8px;
  margin: 0;
  min-width: 100px;
  width: 140px;
  font-size: 14px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
nav a.navbar-brand {
  margin-right: 80px;
}
.app-header nav {
  margin-top: 15px;
}
.app-header .navbar-nav li a {
    color: #2d508e !important;
}
.yamm {
  .navbar {
    position: relative;
    padding: 0rem 0rem;

      .nav-item.show a.nav-link {
        background: #FFF;
      }
      .nav-item a.nav-link {
        padding: 35px 15px;
      }
      .nav-item .dropdown-menu a.dropdown-item{
        display: block;
        font-family: Roboto;
        font-size: 13px;
        color: #666 !important;
        text-transform: none;
        background: none;
      }
      .nav-item .dropdown-menu a.dropdown-item:hover{
        color: #fff !important;
        background: #004f92 !important;
      }
  }
  .dropdown-menu {
    top: 94px;
    left: 64px;
    float: left;
    font-size: 14px;
    padding: 20px 5px;
    color: #666;
    min-width: 1000px;
    line-height: 22px;
    width: 1000px;
    columns: 5;
    border-radius: 0;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,.7);
    -webkit-columns: 5;
    -webkit-box-shadow: 0 10px 20px -10px rgba(0,0,0,.7);
    -moz-columns: 5;
    -moz-box-shadow: 0 10px 20px -10px rgba(0,0,0,.7);
  }
}

.navbar-nav li {
    position: static;
}
.navbar-nav li a:hover{
    color: #004f92;
    background: #FFF;
}
.navbar-nav li .sub-menu {
    width: 1000px;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 11;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    display: none;
    padding: 15px 8px;
}
.navbar-nav li .sub-menu li {
    padding: 0 8px;
    display: inline-block;
    width: 200px;
}
#fixed-top-bar {
    top: 32px;
}
#fixed-top-bar {
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 30px;
    background: #2d508e;
    font-size: 13px;
}
#fixed-top-bar {
    margin: 0 !important;
}
#fixed-top-bar a,
#fixed-top-bar-right > a,
#lang-switch .flag span {
    color: white;
}
#about-us {
    width: 127px !important;
}
#how-does-it-work,
#lang-switch {
    width: 140px !important;
}
#lang-switch {
    padding: 0;
}
#lang-switch a.flag {
    display: block;
}
#whatsapp,
#contact {
    width: 110px;
}
#auth0-login .title,
#auth0-logout .title {
    width: 100px;
    border-right: 1px solid #5c8cc9;
}
#auth0-login .title .fa,
#auth0-logout .title .fa {
    margin: 8px 5px;
}
#about-us,
#how-does-it-work,
#lang-switch,
#contact,
#whatsapp {
    border-left: 1px solid #5c8cc9;
}
#how-does-it-work,
#whatsapp {
    border-right: 1px solid #5c8cc9;
}
#lang-switch a {
    text-decoration: none;
    color: #2d508e;
    padding: 0;
}
#lang-switch .active a {
    color: #eee;
}
#lang-switch ul {
    min-width: 140px !important;
}
#lang-switch .flag img {
    margin: 8px 10px 8px 0;
}
#whatsapp img,
#how-does-it-work img {
    margin: 5px;
}
.logo {
    height: auto;
    padding: 10px 0px;
    margin-left: 10px;
}
.header-right {
    width: 260px;
    float: right;
    margin-top: 32px;
    margin-left: 20px;
    margin-right: -30px;
}
.header-right .header-search {
    width: 175px;
    position: relative;
}
.header-right .header-search input.search-box {
    width: 100%;
    height: 26px;
    font-size: 13px;
    color: #666;
    background: #FFF;
    border: 1px solid #FFF;
    padding: 0px 30px 0px 10px;
}
.header-right .header-search input.search-btn {
    width: 20px;
    height: 26px;
    border: none;
    position: absolute;
    top: 0px;
    right: 5px;
}
#lang_sel {
    z-index: 1;
}
.header-icons .main-list ul.dropdown-menu {
    right: 0;
    left: auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #how-does-it-work {
    width: 120px!important;
  }
  #lang-switch {
    width: 123px!important;
  }
  nav a.navbar-brand {
    margin-right: 5px;
  }
  .yamm .navbar .nav-item a.nav-link {
    padding: 30px 5px;
  }

  nav a.navbar-brand {
    margin-right: 5px;
  }

  .navbar-brand>img {
    margin-top: 15px;
    height: 40px;
  }
  .yamm .dropdown-menu {
    top: 84px;
    left: -38px;
    float: left;
    font-size: 14px;
    padding: 10px;
    color: #666;
    line-height: 21px;
    min-width:768px;
    width: 766px;
    columns: 5;
    border-radius: 0;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,.7);
    -webkit-columns: 5;
    -webkit-box-shadow: 0 10px 20px -10px rgba(0,0,0,.7);
    -moz-columns: 5;
    -moz-box-shadow: 0 10px 20px -10px rgba(0,0,0,.7);
  }
  .dropdown-item {
      display: block;
      width: 100%;
      padding: 0.2rem 0.9rem 0.2rem 0;
      clear: both;
      font-weight: 400;
      color: #212529;
      text-align: inherit;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
  }
  #about-us {
    width: 100px!important;
  }
  #contact, #whatsapp {
    width: 105px;
  }
}

.navbar-mobile {
    position: relative;
    background: #ffd141;
    border: none;
    margin-bottom: 0;
    border-radius: 0;
    height: 50px;
    z-index: 8;
    margin-top: 0px !important;
    padding: 5px;

      a:hover {
        color: #0056b3;
        text-decoration: none;
      }
      .navbar-brand {
        // position: absolute;
        left: 30%;
        width: 120px;
        padding: 0;
        margin: 0;
        top: -2px;
      }
      .mobile-menu-button {
        line-height: 25px;
        border: none;
        text-decoration: none;
        padding: 10px;
        float: left;
        font-size: 25px;
      }
      .current-flag {
        height: 20px;
        width: 30px;
        border-radius: 2px;
        display: inline-block;
        border: 1px solid #2d508e;
        margin-left: 5px;
      }
}

.left-side-collapse, .right-side-collapse {
  top: 0;
  bottom: 0;
  width: 230px;
  position: fixed;
  overflow: scroll;
  transition: width .4s;
  background-color: #fff;
  z-index: 9999;
  border-right: 1px solid #2d508e;
  border-left: 1px solid #2d508e;

    #locale a {
      font-weight: bold;
    }

    button {
      width: 100%;
      background: #fff;
      color: gray;
      font-size: 14px;
      font-weight: normal;
      text-align: left;
      margin-bottom: 20px;

        i {
          float: right;
        }

        img {
          margin-right: 5px;
        }
    }

    button.close {
      padding: 10px 15px 0;
      color: #2d508e;
      opacity: 1;
      font-size: 21px;
      text-align: right;
      margin-bottom: 0px;
    }

    .btn-secondary:hover, .btn-secondary:active {
      color: gray;
      background-color: #fff;
      border-color: #fff;
      box-shadow: none;
    }

    .navbar-collapse a {
      display: block;
      font-size: 13px;
      color: #666;
      text-transform: none;
      background: none;
      padding: 5px 35px 10px;
    }

    li.nav-item {
      display: block;
      font-size: 14px;
      color: #666;
      text-transform: none;
      background: none;
      margin: 0 0 0 5px;

        a, a:hover {
          color: #666;
          margin-bottom: 12px;
        }
    }

    span.menu-title{
      color: #2d508e;
      display: block;
      margin: 0 20px 15px 20px;
    }
}

.left-side-collapse {
  left: -1px;
}
.right-side-collapse {
  right: -1px;
  font-size: 15px;
  font-weight: 500;

  li:first-child {
    color: #2d508e;
  }

  li {
    padding: 15px;
  }

  button.close {
      text-align: left;
  }
}

.bb-blue {
    color: #2d508e!important;
}

.sidenav-select {
  a{
    color: gray;
  }
  li {
    list-style: none;
    color: gray;
    font-size: 15px;
    margin-bottom: 15px;
    border: 1px solid #80808050;
  }
  .dropdown-menu {
    width: 100%;
    border: 1px solid #80808050;
    border-radius: 0px;
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
